/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('download.jpeg') no-repeat center center fixed; 
    background-size: cover;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #fff;
    color: #000;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
}
